<a href="https://colab.research.google.com/github/Gold-Minji/kmj/blob/master/Baekjoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#baekjoon coding practicing
#1110
a=input()
#a=list(map(int,a))
b=0
#while a==a:
#  a=list(map(int,a))
  print(a)
  for i in range(len(a)):
    b=b+a[i]
    print(b)
  b=str(b).zfill(2)
  print(type(a[1]))
b=list(map(int,b))
a = [a[1],b[1]]
  
print(a)
#Result is cannot printed like this wat!!!Fuck!!!

IndentationError: ignored

In [ ]:
a=int(input())
num = a
count=1
while True:
  b=int(num//10)+int(num%10)
  num=((num%10)*10)+(b%10)
  if a==num:
    print(count)
    break
  else:
     count+=1

26
4

In [ ]:
#a=len(list(input()))
b=int(input())
a=input().split()
a=list(map(int,a))
a.sort()
print(a[0],a[-1])
#for i in range(len(a)):
#  print(a[i])

20 10 35 30 7
7 35

In [ ]:
#this is compare just right beyond number
a=int(input())
count=1
for i in range(1,9):
  b=int(input())
  count+=1
  if a<b:
    a=b
    c=count
print("B:",a,"#: ",c)

12
74
44
3
0
7
678
57
5
B: 678 #:  7

In [ ]:
a=list()
for i in range(9):
  a.append(int(input()))
print(max(a))
print(a.index(max(a))+1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
a=int(input())
b=list(map(int,input().split()))
c=list()
for i in range(a):
  c.append(b[i]/max(b)*100)
print(sum(c)/a)

4
1 100 100 100
100.33333333333333

In [ ]:
a= int(input())
for i in range(a):
  b=input()
  count=0
  c=0
  for j in range(len((b))):
    if b[j] == '0':
      count+=1
      c+=count
    elif b[j] == 'X':
      c+=0
      count=0
  print(c)
#print(type(b))

1
0X0XXX000
8

In [ ]:
a= int(input())
b=list()

for i in range(a):
  b=list(map(int,input().split()))
  avg=sum(b[1:])/b[0]
  #print(avg)
  count=0
  for j in b[1:]:
    if j>avg:
      count+=1
    #print(count)
    #e=(count/b[0]*100)
  print(('%.3f'%(count/b[0]*100),"%"))

1
5 50 50 70 80 100
('40.000', '%')

In [ ]:
#홍과 함께라면
# input
import sys
n = int(sys.stdin.readline().strip())

# 식: 1 + 6 * cnt + (1 ~ 6 * cnt)
# 조작할 것 : cnt

cnt = 1
while True:
    if n >= 6 * cnt:
        n -= 6 * cnt
        print(f'new n: {n}, cnt: {cnt}')
        cnt += 1
    else:
        print(f'[else] n: {n}, cnt: {cnt}')
        print(cnt + 1)
        break

1
5 50 50 70 80 100
40.0%